---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---
    <Layout>
        <header class="home">
            <h1>eva.<span class="italic">m</span>atisakova</h1>
            <h2 class="text-right">design</h2>
        </header>

        <Navbar color="light" background="light" homeLink="#home"/>

        <main id="header" class="home">
            <div id="gradient"></div>
            <section id="interior">
                <h2 class="d-none">interior</h2>
                <div class="container-fluid">
                    <div class="row  justify-content-between">
                        <div class="col-12 col-md-6">
                            <img src="/img/hp/HP-05.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-12 col-md-4 align-self-center">
                            <img src="/img/hp/HP-06.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-12 col-md-8 offset-md-4">
                            <img src="/img/hp/HP-07.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <img src="/img/hp/HP-08.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-12 col-md-4">
                            <img src="/img/hp/HP-09.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-12 col-md-6 mt-20">
                            <img src="/img/hp/HP-10.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="product">
                <h2 class="d-none">product</h2>
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-6">
                            <img src="/img/hp/HP-11.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-12 col-md-4 align-self-center">
                            <a href="/art-in-park/">
                                <img src="/img/hp/HP-12.jpeg" alt="artinpark" class="img-fluid"/>
                                <h3>Art In Park</h3>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6">
                            <img src="/img/hp/HP-13.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-8">
                            <img src="/img/hp/HP-14.jpeg" alt="artinpark" class="img-fluid"/>
                            <h3>Art In Park</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about">
                <h2 class="d-none">about</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 text-center">
                            <img class="img-fluid" src="/img/eva.jpg" alt="">
                        </div>

                        <div class="col-12 col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula dapibus tempus.
                                Mauris nec placerat nunc.
                                </p>
                            <p>
                                <small>
                                Integer ante arcu, feugiat in neque vel, consequat blandit nisl. Nam scelerisque luctus tortor, eget sodales massa lobortis ut. Mauris et purus viverra, ultrices nisi id, iaculis justo.
                                Phasellus libero libero, sodales a congue eu, dictum ultricies risus. Donec porttitor nunc eget lectus tincidunt pulvinar.
                                Nulla sed urna in odio placerat tincidunt nec tristique mi. Curabitur tortor mi, efficitur quis diam in, fringilla feugiat erat.
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </Layout>



