---
import ProjectLayout from "../layouts/ProjectLayout.astro";

import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";


---

    <ProjectLayout
        navColor="light"
        navBackground="light"
        title="Itaps | Eva.Matisakova"
        img={{
            src: "/img/projects/itaps/main.png",
            alt: "Itaps cover photo"
        }}
    >
        <div class="container-fluid">
            <h1 class="heading">Itaps</h1>
            <div class="row justify-content-start mb-3 mb-md-5">
                <div class="col-12 col-md-4"><small>vizuálna identita</small></div>
                <div class="col-12 col-md-4"><small>Eva Matišáková</small></div>
                <div class="col-12 col-md-2"><small>Bratislava</small></div>
                <div class="col-12 col-md-2 text-right"><small>2020 - 2023</small></div>
            </div>

            <p>Itaps je slovenská firma, ktorá sa venuje návrhom a relizácii riešení najmä v oblasti robotiky a
                automatizácie. Jej cieľom je prepájať šikovných študentov IT a iných technických odborov s firmami,
                najmä z finančného a technologického sektora.</p>

            <p>Vizuálna identita vychádza z návrhu iného autora, z ktorého bolo zachované logo a modrá farba - tá bola
                doplnená ďalšími odtieňmi modrej a výraznou okrovou farbou. Zátvorky v logu, ktoré sú každodennou
                súčasťou programátorského sveta sú využívané ako súčasť vizuálnej identity.</p>

            <ImgFullWidth
                url="/img/projects/itaps/corporate-identity.png"
                alt="Tlačové materiály"
                caption="Tlačové materiály"
            />

            <p>Návrh identity sa skladá z dvoch častí. Vizuál pre B2B marketing je minimalistický s
                jemnou farebnosťou. V návrhu sa jedná najmä o korešpondenciu, prezetnačné a dokumentačné templaty,
                prípadové štúdie, darčeky pre klientov ai.</p>

            <div class="row">
                <div class="col-12 col-md-4">
                    <Img
                        url="/img/projects/itaps/journal.png"
                        alt="Darčekové predmety"
                        caption="Darčekové predmety"
                    />
                </div>

                <div class="col-12 col-md-6 offset-md-2">
                    <Img
                        url="/img/projects/itaps/bag.png"
                        alt="Darčekové predmety"
                        caption="Darčekové predmety"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3 offset-md-2 mt-n20vw">
                    <Img
                        url="/img/projects/itaps/sticker.png"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8">
                    <Img
                        url="/img/projects/itaps/citylight.png"
                        alt="Propagácia začni v IT"
                        caption="Propagácia začni v IT"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-4 col-md-3 offset-md-8">
                    <Img
                        url="/img/projects/itaps/sticker-save.png"
                        alt="sticker-save"
                    />
                </div>
            </div>

            <div class="mt-n15vw">

                <ImgFullWidth
                    url="/img/projects/itaps/bulletin.png"
                    alt="Propagácia začni v IT"
                    caption="Propagácia začni v IT"
                />
            </div>

            <p>Platforma pre <strong>zacnivIT.sk</strong> ponúka študentom pracovné miesta v IT odbore, kde majú
                potenciál kariérne rásť a rozvíjať svoje technologické zručnosti. Pri návrhu pre študentov je dôležité
                byť výrazný a viditeľný. Vizuál je hravý, používa sa kontrast farieb, výrazná typografia aby študentov
                rýchlo upútal. Farebné postavičky znázorňujúce študentov sú využívané ako súčasť reklamnej kampane najmä
                na sociálnych sieťach a propagačných materiáloch.</p>

        </div>
    </ProjectLayout>