---
import ProjectLayout from "../layouts/ProjectLayout.astro";
import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Karačóniho Palác | Eva.Matisakova"
        img={{
            src: "/img/projects/karaconiho-palac/main.jpg",
            alt: "Karačóniho Palác cover photo"
        }}
>
    <div class="container-fluid">
        <h1 class="heading">Karáčoniho Palác</h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-6"><small>Overovacia štúdia využiteľnosti časti objektu Karáčoniho
                paláca</small></div>
            <div class="col-12 col-md-3"><small>Eva Matišáková<br/>Paulína Kvaššayová</small></div>
            <div class="col-12 col-md-2"><small>Bratislava</small></div>
            <div class="col-12 col-md-1 text-md-right"><small>2021</small></div>
        </div>


        <p>Filozofia návrhu spočíva v zachovaní historického charakteru budovy, no zároveň prináša inovatívne
            návrhové riešenie priestorov materskej a základnej školy s prvkami pôvodnej architektúry. V našom návrhu
            sme pracovali s ideou 5 tried materskej školy situovanej na prvom a druhom nadzemnom podlaží a základnou
            školou, pre ktorú je vyhradené celé tretie nadzemné podlažie.</p>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-4">
                <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-1.jpg"
                        alt="Exteriér - telocvičňa s ihriskom"
                        caption="Exteriér - telocvičňa s ihriskom"
                />
            </div>
            <div class="col-12 col-md-8">
                <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-2.jpg"
                        alt="Exteriér - ihrisko"
                        caption="Exteriér - ihrisko"
                />
            </div>
        </div>

        <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-3.jpg"
                alt="Pôdorys"
                caption=""
        />

        <p>Celková dispozícia sa menila od základov z dôvodu potre- by vytvorenia priestorov vhodných pre výuku
            materskej aj základnej školy. Keďže sa predpokladá, že škola bude vyučovať určitou alternatívnou formou
            vzdelávania, triedy sú navrhované s veľkorysými rozmermi tak, aby mohla byť výuka variabilná a
            dynamická.</p>

        <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-4.jpg"
                alt="Jedáleň"
                caption=""
        />


        <div class="row">
            <div class="col-12 col-md-6">
                <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-5.jpg"
                        alt="Vstup do jedálne"
                        caption="Vstup do jedálne"
                />
            </div>
            <div class="col-12 col-md-5 offset-md-1 mt-20vw">
                <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-6.jpg"
                        alt="Jedáleň"
                        caption="Jedáleň"
                />
            </div>
        </div>

        <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-7.jpg"
                alt="Chodba"
                caption=""
        />

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">

                <figure>
                    <div class="img-flip" data-time="1000">
                        <figure>
                            <img class="img-fluid" src="/img/projects/karaconiho-palac/karaconiho-palac-8.jpg"
                                 alt="Modulárny policový systém"
                            />
                            <figcaption>
                                <small>Modulárny policový systém</small>
                            </figcaption>
                        </figure>
                        <figure class="d-none">
                            <img class="img-fluid" src="/img/projects/karaconiho-palac/karaconiho-palac-9.jpg"
                                 alt="Modulárny policový systém"
                            />
                            <figcaption>
                                <small>Modulárny policový systém</small>
                            </figcaption>
                        </figure>
                    </div>

                </figure>

            </div>
        </div>


        <p>Celková dispozícia sa menila od základov z dôvodu potreby vytvorenia priestorov vhodných pre výuku
            materskej aj základnej školy. Keďže sa predpokladá, že škola bude vyučovať určitou alternatívnou formou
            vzdelávania, triedy sú navrhované s veľkorysými rozmermi tak, aby mohla byť výuka variabilná a
            dynamická. Rovnakým spôsobom sme pristupovali aj k návrhu materskej školy, kde sme sa priestorov
            chytili trochu netradičnou formou.</p>

        <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-10.jpg"
                alt=""
                caption=""
        />
    </div>
</ProjectLayout>