---
import ProjectLayout from "../layouts/ProjectLayout.astro";
import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";

---

    <ProjectLayout
        navColor="light"
        navBackground="light"
        title="Karačóniho Palác | Eva.Matisakova"
        img={{
            src: "/img/projects/karaconiho-palac/main.png",
            alt: "Karačóniho Palác cover photo"
        }}
    >
        <div class="container-fluid">
            <h1 class="heading">Karačóniho Palác</h1>
            <div class="row justify-content-start mb-3 mb-md-5">
                <div class="col-12 col-md-8"><small>Overovacia štúdia využiteľnosti časti objektu Karáčoniho
                    paláca</small></div>
                <div class="col-12 col-md-2"><small>Bratislava</small></div>
                <div class="col-12 col-md-2 text-right"><small>2021</small></div>
            </div>


            <p>Filozofia návrhu spočíva v zachovaní historického charak- teru budovy, no zároveň prináša inovatívne
                návrhové riešenie priestorov materskej a základnej školy s prvkami pôvodnej architektúry. V našom návrhu
                sme pracovali s ideou 5 tried materskej školy situovanej na prvom a druhom nadzemnom podlaží a základnou
                školou, pre ktorú je vyhradené celé tretie nadzemné podlažie. Na začiatku projektu sme si zadefinovali
                náš cieľ, ktorým bolo priniesť</p>

            <div class="row">
                <div class="col col-md-8 offset-md-4">
                    <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-1.png"
                        alt=""
                        caption=""
                    />
                </div>
                <div class="col col-md-8">
                    <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-2.png"
                        alt=""
                        caption=""
                    />
                </div>
            </div>

            <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-3.png"
                alt=""
                caption=""
            />

            <p>Celková dispozícia sa menila od základov z dôvodu potre- by vytvorenia priestorov vhodných pre výuku
                materskej aj základnej školy. Keďže sa predpokladá, že škola bude vyučovať určitou alternatívnou formou
                vzdelávania, triedy sú navrhované s veľkorysými rozmermi tak, aby mohla byť výuka variabilná a
                dynamická. Rovnakým spôsobom sme pristupovali aj k návrhu materskej školy, kde sme sa prie</p>

            <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-4.png"
                alt=""
                caption=""
            />


            <div class="row">
                <div class="col col-md-6">
                    <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-6.png"
                        alt=""
                        caption=""
                    />
                </div>
                <div class="col col-md-5 offset-md-1 mt-20vw">
                    <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-6.png"
                        alt=""
                        caption=""
                    />
                </div>
            </div>

            <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-7.png"
                alt=""
                caption=""
            />

            <div class="row">
                <div class="col col-md-7 offset-md-2">
                    <Img
                        url="/img/projects/karaconiho-palac/karaconiho-palac-8.png"
                        alt=""
                        caption=""
                    />
                </div>
            </div>


            <p>Celková dispozícia sa menila od základov z dôvodu potre- by vytvorenia priestorov vhodných pre výuku
                materskej aj základnej školy. Keďže sa predpokladá, že škola bude vyučovať určitou alternatívnou formou
                vzdelávania, triedy sú navrhované s veľkorysými rozmermi tak, aby mohla byť výuka variabilná a
                dynamická. Rovnakým spôsobom sme pristupovali aj k návrhu materskej školy, kde sme sa prie- storov
                chytili trochu netradičnou formou. Z dôvodu ob- medzených rozmerov na prvom nadzemnom poodlaží,</p>

            <ImgFullWidth
                url="/img/projects/karaconiho-palac/karaconiho-palac-9.png"
                alt=""
                caption=""
            />
        </div>
    </ProjectLayout>