---
import ProjectLayout from "../layouts/ProjectLayout.astro";

---

    <ProjectLayout
        title="Tajsa | Eva.Matisakova"
        img={{
            src: "/img/projects/tajsa/main.jpg",
            alt: "Tajsa cover photo"
        }}
    >
        <div class="container-fluid">
            <h1 class="heading">Tajsa</h1>
            <div class="row justify-content-start mb-3 mb-md-5">
                <div class="col-12 col-md-4"><small>svetelný objekt na festival Art in park</small></div>
                <div class="col-12 col-md-4"><small>Trenčianske Teplice</small></div>
                <div class="col-12 col-md-4"><small>2018</small></div>
            </div>

            <p>Tajsa je krízové dočasné bývanie pre rómov žijúcich v zlých životných podmienkach. Ide o rómov zapojených
                do pro- gramu podpory bývania, ktorí si prostredníctvom mikropôžičiek stavajú vlastný dom. V tomto
                projekte som sa zamerala najmä na variabilnosť priestoru. Ide o moduly rovnakých rozmerov, ktoré a
                navzájom spájajú a vytvárajú priestor na mieru. Bývanie je teda určené aj pre mno-</p>

            <div class="row">
                <div class="col col-md-8 offset-md-4">
                    <figure>
                        <img class="img-fluid" src="/img/projects/tajsa/podorys.png" alt=""/>
                        <figcaption>Popis</figcaption>
                    </figure>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col col-md-9">
                    <figure>
                        <img class="img-fluid" src="/img/projects/tajsa/render.jpg" alt=""/>
                    </figure>
                </div>
                <div class="col col-md-2">
                    <figure>
                        <img class="img-fluid mb-md-5" src="/img/projects/tajsa/logo.png" alt=""/>
                    </figure>
                </div>
            </div>
        </div>
    </ProjectLayout>