---
import ProjectLayout from "../layouts/ProjectLayout.astro";

import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Identita SK | Eva.Matisakova"
        img={{
            src: "/img/projects/umelka-dostavba/main.png",
            alt: "Umelka Grafika cover photo"
        }}
>
    <div class="container-fluid">


        <h1 class="heading">Umelka - dostavba</h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-4"><small>Umelka - interiér - diplomová práca</small></div>
            <div class="col-12 col-md-4"><small>Bratislava</small></div>
            <div class="col-12 col-md-4"><small>2022</small></div>
        </div>

        <p>Nové funkcie rekonštruovaného areálu by mali oveľa viac zod- povedať požiadavkám súčasnej doby a prilákať
            návštevníkov. Umenie je stále hlavná a najdôležitejšia funkcia areálu, ale je nutné ju podporiť ďalšími
            prevádzkami. Nová dostavba je dvo- jpodlažná budova, kde sa na prízemí nachádzajú priestory ka- viarne,
            hygienické a skladové zázemie a na prvom poschodí je situovaný Art shop a apartmán dostupné z areálu a aj zo
            strany starého mosta. Tieto funkcie dotvárajú celkovú kon- cepciu a myšlienku tým, že prispievajú k
            rentabilite Umeleckej besedy.</p>

        <Img
                url="/img/projects/umelka-dostavba/funkcie.png"
                alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
        />

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-podorys-1np.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
            <div class="col-12 col-md-10">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-2.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
        </div>

        <p>Priestor kaviarne pôsobí vzdušne, z toho dôvodu tu neboli vytvorené žiadne striktné delenia, aby bol
            návštevník priamo spätý s umeleckou záhradou. Celá identita je postavená na reliéfnych nápisoch, tak aj v
            tomto priestore tvorí jeho dominantu. Výrazným prvkom miestnosti je podhľad vytvorený z materiálu Tyvek,
            ktorý vyzerá akoby sa vznášal nad hlavami návštevníkov. Priestor je založený na jednoduchej geometrickosti a
            farebnosti. Napriek tomu je kaviareň veľmi výrazný interiérový koncept. Mobiliár má priestor dotvárať, aby
            sa návštevník cítil príjemne pod ľahkosťou lietajúceho stropu.</p>


        <div class="row">
            <div class="col-12 col-md-6">
                <Img
                        url="/img/projects/umelka-dostavba/axo.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
            <div class="col-12 col-md-8">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-podorys-2np.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
        </div>


        <ImgFullWidth
                url="/img/projects/umelka-dostavba/dostavba-3.png"
                alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
        />

        <p>V priestore art shopu sa predávajú suveníry reflektujúce momentálnu výstavu. Obchod by mal predávať výber
            toho najlepšieho zo slovenského dizajnu a podporovať tak ich tvorbu. V interiéri prevláda biela farba, aby
            vynikli vystavené predmety a vzájomne si nekonkurovali. Cieľom je upútať návštevní- ka už pred tým, ako
            vstúpi do prevádzky. Keď príde z oboch strán, mal by ho upútať nápis nad bordovým pultom, ktorý je jediný
            farbený prvok interiéru a podhľad, ktorý vedie od vstupu až po pult – akoby víta návštevníka a navádza ho k
            tomu, aby vstúpil ďalej.</p>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-4">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-4.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
            <div class="col-12 col-md-10 offset-md-1">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-rez.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
        </div>

        <p>Apartmán slúži najmä pre Umelcov, ktorí inštalujú svoje diela v galérii. Samotná inštalácia, trvá niekoľko
            dní a preto je apartmán priamo v areáli veľký benefit. Priestor je otvorený, oddelená je iba kúpeľňa
            sklenenou priečkou a závesom. Hlavným prvkom miestnosti je multifunkčná vstavaná skriňa. Slúži ako lavica,
            šatník a malá kuchynka.</p>

        <div class="row">
            <div class="col-12 col-md-7">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-6.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
            <div class="col-12 col-md-4 offset-md-1">
                <Img
                        url="/img/projects/umelka-dostavba/dostavba-5.png"
                        alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                        caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                />
            </div>
        </div>

        <ImgFullWidth
                url="/img/projects/umelka-dostavba/dostavba-7.png"
                alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                caption="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
        />

        <p>Apartmán je možné ubytovať aj turistov, ktorých by lákala forma zážitkového bývania v centre Bratislavy
            priamo nad galériou. To má ďalší potenciál ako zvyšovať návštevnosť galérie a vzbudzovať záujem o
            umenie.</p>
    </div>
</ProjectLayout>