---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Identita SK | Eva.Matisakova"
        img={{
            src: "/img/projects/umelka-grafika/main.png",
            alt: "Umelka Grafika cover photo"
        }}
>
    <div class="container-fluid">


        <h1 class="heading">Umelka</h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-5"><small>Umelka - interiér - diplomová práca</small></div>
            <div class="col-12 col-md-3"><small>Eva Matišáková</small></div>
            <div class="col-12 col-md-2"><small>Bratislava</small></div>
            <div class="col-12 col-md-2 text-md-right"><small>2022</small></div>
        </div>

        <p>Cieľom vizuálnej identity ju vytvoriť autentickú a reprezentatívnu značku a dostať ju do povedomia cieľovej
            skupine a tam ju dlhodobo udržať. Ambíciou bolo zaujať na prvý pohľad a dôstojne reprezentovať hodnoty a
            posolstvo Umeleckej Besedy Slovenskej, ktoré chce inštitúcia odovzdávať. Koncept by mal vyvolať trvalý
            zážitok z daného miesta a aby sa o ňom rozprávalo a vzbudzovalo rozruch.</p>

        <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
            <figure>
                <img class="img-fullwidth" src="/img/projects/umelka-grafika/umelka-citylight.png" alt=""/>
            </figure>
        </a>


        <div class="img-flip" data-time="500">
            <figure>
            <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-logo-light.png" alt=""/>
            </figure>
            <figure class="d-none">
            <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-logo-red.png" alt=""/>
            </figure>
            <figure class="d-none">
            <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-logo-dark.png" alt=""/>
            </figure>
            <figure class="d-none">
            <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-logo-black.png" alt=""/>
            </figure>
        </div>

        <p>V projekte Umelka sú grafický a interiérový dizajn veľmi úzko späté, pretože vytvárajú jeden komplexný celok, ktorý jeden bez druhého nefunguje.</p>
        <p>Zámerom bolo vytvoriť jeden prvok, ktorý nenásilným spôsobom zjednotí všetky priestory a dá im zmysel. Nová vizuálna identita by sa používala na oficiálnych tlačovinách a merchi galérie. Vstupenky, darčekové predmety predávajúce sa v Art shope – textil, suveníry, zápisníky a i. Umelka by sa tak ešte viac priblížila ľuďom, pretože by si ju návštevníci takzvane „priniesli“ domov.</p>


        <div class="row justify-content-end">
            <div class="col-12 col-md-8">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-ticket.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-ticket.png" alt="Vstupenky do galérie"/>
                        <figcaption><small>Vstupenky do galérie</small></figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-6">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-bag.png" alt="Darčekové predmety - merch Umelky"/>
                        <figcaption><small>Darčekové predmety - merch Umelky</small></figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-md-8 col-md-4 mt-n20vw">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-notepad.png" alt="Darčekové predmety - merch Umelky"/>
                        <figcaption><small>Darčekové predmety - merch Umelky<small></figcaption>
                    </figure>
                </a>
            </div>
        </div>

    </div>
</ProjectLayout>