---
import ProjectLayout from "../layouts/ProjectLayout.astro";

import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Identita SK | Eva.Matisakova"
        img={{
            src: "/img/projects/umelka-historicka/main.png",
            alt: "Umelka Grafika cover photo"
        }}
>
    <div class="container-fluid">
        <h1 class="heading">Umelka <small>Historická budova</small></h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-5"><small>Umelka - interiér - diplomová práca</small></div>
            <div class="col-12 col-md-3"><small>Eva Matišáková</small></div>
            <div class="col-12 col-md-2"><small>Bratislava</small></div>
            <div class="col-12 col-md-2 text-md-right"><small>2022</small></div>
        </div>

        <p>Rekonštrukcia areálu Umelky a samotnej galérie predstavuje príležitosť pre vytvorenie atraktívneho miesta,
            ktoré spája umenie a kultúru. K zlepšeniu kultúrneho života v Bratislave môže pomôcť premena areálu Umelky,
            ktorý bude viac prístupný verejnosti. Obnovenie areálu má maximálnu možnosť motivovať ľudí k návšteve
            historickej budovy galérie a podporiť tak vystavujúcich umelcov a vzdelávať sa v danej oblasti.</p>

        <ImgFullWidth
                url="/img/projects/umelka-historicka/umelka-situacia.png"
                alt="Situácia Umelky"
                caption=""
        />

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <Img
                        url="/img/projects/umelka-historicka/umelka-areal.png"
                        alt="Areál Umelky"
                        caption=""
                />
            </div>
        </div>


        <p>Vstup do galérie bol vyčistený od zbytočných predmetov a sústreďuje sa na pôvodný charakter budovy. V pravej
            časti miestnosti je situovaný pult, ktorého funkcia nie je len infor- mačná, ale jeho zrkadlový povrch
            reflektuje pôvodný charak- ter, ktorý bolo nutné zachovať. Odráža históriu budovy a žiad- nym spôsobom
            nenarúša materialitu priestoru.</p>

        <div class="row">
            <div class="col-12 col-md-8">
                <Img
                        url="/img/projects/umelka-historicka/umelka-3.png"
                        alt=""
                        caption=""
                />
            </div>

            <div class="col-12 col-md-8 offset-md-4 mt-n15vw" style="z-index: -1">
                <Img
                        url="/img/projects/umelka-historicka/umelka-podorys.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>

        <p>V galérii je nasimulovaná výstava na počesť architektov Umelky – Aloisa Balána Jiřího Grossmana. Expozíciu
            tvoria životopisy architektov s ich fotografiami, fotodokumentácia a modely zrealizovaných stavieb. Hlavnými
            prvkami sú výstavné segmenty, ktoré sú obložené zrkadlami, aby reflektovali pôvodnú žulovú podlahu. Evokujú
            pocit akoby miniatúry stavieb, ktoré sú na nich položené levitovali v priestore. Moduly sú variabilné vďaka
            vymieňateľným vrchným dielom a možnostiam spájania podľa druhu výstavy.</p>

        <ImgFullWidth
                url="/img/projects/umelka-historicka/umelka-2.png"
                alt=""
                caption=""
        />

        <Img
                url="/img/projects/umelka-historicka/klub-1.png"
                alt=""
                caption=""
        />

        <ImgFullWidth
                url="/img/projects/umelka-historicka/klub-2.png"
                alt=""
                caption=""
        />

        <ImgFullWidth
                url="/img/projects/umelka-historicka/klub-podorys.png"
                alt=""
                caption=""
        />

        <div class="row">
            <div class="col-12 col-md-6">
                <Img
                        url="/img/projects/umelka-historicka/klub-3.png"
                        alt=""
                        caption=""
                />
            </div>
            <div class="col-12 col-md-8 offset-md-4">
                <Img
                        url="/img/projects/umelka-historicka/klub-4.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>

        <p>Náplňou klubu je spájať komunitu umelcov, ktorá je ponechaná aj v návrhu, rozvíjaná a obohatená o ďalšie
            funkcie. Priestor môže byť využívaný na diskusie, malé koncerty, predčítanie kníh, ale aj na výstavy. Steny
            sú voľné na vystavovanie obrazov a iných diel. Oproti vstupu je postavený nový priestor v tvare
            pravidelnej kocky. Táto nová miestnosť jenvložená do pôvodného veľkolepého priestoru s betónovým trámovým
            stropom. Je to dominanta priestoru podporená bordovou farbou, okolo ktorej je situovaný bar, policová
            zostava na knihy a v neposlednom rade vytvára aj ďalšiu plochu pre vystavovanie diel.</p>

        <Img
                url="/img/projects/umelka-historicka/klub-rez.png"
                alt=""
                caption=""
        />

    </div>
</ProjectLayout>