---
import ProjectLayout from "../layouts/ProjectLayout.astro";

import Img from "../components/Img.astro";
import ImgFullWidth from "../components/ImgFullWidth.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Identita SK | Eva.Matisakova"
        img={{
            src: "/img/projects/umelka-pristavba/main.png",
            alt: "Umelka Grafika cover photo"
        }}
>
    <div class="container-fluid">


        <h1 class="heading">Umelka <small>prístavba</small></h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-5"><small>Umelka - interiér - diplomová práca</small></div>
            <div class="col-12 col-md-3"><small>Eva Matišáková</small></div>
            <div class="col-12 col-md-2"><small>Bratislava</small></div>
            <div class="col-12 col-md-2 text-md-right"><small>2022</small></div>
        </div>

        <p>Návrh interiéru prístavby, ktorá je v súčasnosti v procese výstavby. Ide o multifunkčnú miestnosť, ktorá sa
            bude dať variovať a prispôsobovať rôznym podujatiam. Majú sa tu konať malé koncerty, diskusie, workshopy,
            ale počas dňa môže fungovať aj ako kaviareň. Preto je zariadenie uspôsobené na tieto účely. Mobilný pult
            na kolieskach pozostáva z piatich rozklad- acích segmentov, ktoré sa dajú navzájom spájať a presúvať podľa
            potreby.</p>

        <div class="row">
            <div class="col-12 col-md-8">
                <Img
                        url="/img/projects/umelka-pristavba/kolaz-pristavba-1.png"
                        alt="Koláž prístavba"
                        caption=""
                />
            </div>
            <div class="col-12 col-md-6 offset-md-6">
                <div class="img-flip" data-time="500">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/axo1.png" alt=""/>
                    </figure>
                    <figure class="d-none">
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/axo2.png" alt=""/>
                    </figure>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="img-flip" data-time="500">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/podorys1.png" alt=""/>
                    </figure>
                    <figure class="d-none">
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/podorys2.png" alt=""/>
                    </figure>
                    <figure class="d-none">
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/podorys3.png" alt=""/>
                    </figure>
                </div>
            </div>
        </div>


        <ImgFullWidth
                url="/img/projects/umelka-pristavba/pristavba1.png"
                alt="todo Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
                caption=""
        />

        <div class="row">
            <div class="col-12 col-md-8 offset-md-4">
                <div class="img-flip" data-time="600">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/umelka-1.png" alt=""/>
                    </figure>
                    <figure class=" d-none">
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/umelka-2.png" alt=""/>
                    </figure>
                    <figure class=" d-none">
                        <img class="img-fluid" src="/img/projects/umelka-pristavba/umelka-3.png" alt=""/>
                    </figure>
                </div>
            </div>
        </div>

        <p>Priestor, kde sa nachádza zázemie baru sa dá otvoriť/zatvoriť prostredníctvom posuvného systému a používať
            tak podľa druhu udalosti. Skladacie dvere značky Dooor svojím bielym textilným vzhľadom prepájajú priestor a
            zároveň dodávajú miestnosti dekoratívny nádych. Vzor kanelúr je použitý aj v priestore za barom, takže
            keď nie sú dvere zasunuté, stále vyzerá priestor ako z jedného materiálu. Dominantou priestoru je strop
            zhotovený zo segmentov lichobežníkového tvaru so svetelnými plochami osvetľujúcimi celý priestor. Reliéfny
            nápis Umelka doplňuje striktnú geometrickosť a jednoduchú farebnosť interiéru.</p>

        <div class="row">
            <div class="col-12 col-md-6">
                <Img
                        url="/img/projects/umelka-pristavba/pristavba3.png"
                        alt=""
                        caption=""
                />
            </div>
            <div class="col-12 col-md-4 offset-md-2 mt-25vw">
                <Img
                        url="/img/projects/umelka-pristavba/pristavba2.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                <Img
                        url="/img/projects/umelka-pristavba/kolaz-pristavba-2.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>

        <p>Priestor kaviarne pôsobí vzdušne, z toho dôvodu tu neboli vytvorené žiadne striktné delenia, aby bol
            návštevník priamo spätý s umeleckou záhradou. Celá identita je postavená na reliéfnych nápisoch, tak aj v
            tomto priestore tvorí jeho dominantu. Výrazným prvkom miestnosti je podhľad vytvorený z materiálu Tyvek,
            ktorý vyzerá akoby sa vznášal nad hlavami návštevníkov. Priestor je založený na jednoduchej geometrickosti a
            farebnosti. Napriek tomu je kaviareň veľmi výrazný interiérový koncept. Mobiliár má priestor dotvárať, aby
            sa návštevník cítil príjemne pod ľahkosťou lietajúceho stropu.</p>

        <div class="row mt-n5vw">
            <div class="col-12 col-md-8 offset-md-4">
                <Img
                        url="/img/projects/umelka-pristavba/restauracia-podorys.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>

        <ImgFullWidth
                url="/img/projects/umelka-pristavba/restauracia.png"
                alt=""
                caption=""
        />

        <p>Interiér reštaurácie na prvom podzemnom podlaží je zariadený vo farebnom kontraste so samotnou galériou, ale
            v súlade s jej moderným charakterom. Výrazovým prostriedkom sú hlavne materiály ako sklo, betón a kov
            doplnený o bordovú farbu na sedadlách lavíc a stolov. Cez bezbariérový vstup, v ktorom sa nachádza miesto
            pre vystavovanie sochárskych diel, sa vchádza do hlavnej reštauračnej časti s barovým pultom a sedením na
            rôznych výškových úrovniach. Hlavné líniové LED osvetlenie je spustené pod rebrovaným stropom a vedie
            pozdĺžne každou miestnosti.</p>


        <div class="row">
            <div class="col-12 col-md-8 offset-md-4">
                <Img
                        url="/img/projects/umelka-pristavba/restauracia1.png"
                        alt=""
                        caption=""
                />
            </div>
            <div class="col-12 col-md-6">
                <Img
                        url="/img/projects/umelka-pristavba/restauracia3.png"
                        alt=""
                        caption=""
                />
            </div>
            <div class="col-12 col-md-4 offset-md-2 mt-25vw">
                <Img
                        url="/img/projects/umelka-pristavba/restauracia2.png"
                        alt=""
                        caption=""
                />
            </div>
        </div>
    </div>
</ProjectLayout>