---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout
        navColor="light"
        navBackground="light"
        title="Identita SK | Eva.Matisakova"
        img={{
            src: "/img/projects/umelka-grafika/main.png",
            alt: "Umelka Grafika cover photo"
        }}
>
    <div class="container-fluid">


        <h1 class="heading">Umelka - klub</h1>
        <div class="row justify-content-start mb-3 mb-md-5">
            <div class="col-12 col-md-4"><small>Umelka - interiér - diplomová práca</small></div>
            <div class="col-12 col-md-4"><small>Bratislava</small></div>
            <div class="col-12 col-md-4"><small>2022</small></div>
        </div>

        <p>Rekonštrukcia areálu Umelky a samotnej galérie predstavuje príležitosť pre vytvorenie atraktívneho miesta,
            ktoré spája umenie a kultúru. K zlepšeniu kultúrneho života v Bratislave môže pomôcť premena areálu Umelky,
            ktorý bude viac prístupný verejnosti. Obnovenie areálu má maximálnu možnosť motivovať ľudí k návšteve
            historickej budovy galérie a podporiť tak vystavujúcich umelcov a vzdelávať sa v danej oblasti.</p>

        <a class="gallery" href="/img/projects/umelka-klub/umelka-notepad.png">
            <figure>
                <img class="img-fullwidth" src="/img/projects/umelka-grafika/umelka-citylight.png" alt=""/>
                <figcaption>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</figcaption>
            </figure>
        </a>


        <div class="img-flip" data-time="500">
            <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-logo-light.png" alt=""/>
            <img class="img-fluid d-none" src="/img/projects/umelka-grafika/umelka-logo-red.png" alt=""/>
            <img class="img-fluid d-none" src="/img/projects/umelka-grafika/umelka-logo-dark.png" alt=""/>
            <img class="img-fluid d-none" src="/img/projects/umelka-grafika/umelka-logo-black.png" alt=""/>
        </div>

        <figure>
            <img class="img-fullwidth" src="/img/projects/umelka-grafika/umelka-citylight.png" alt=""/>
            <figcaption>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</figcaption>
        </figure>

        <div class="row justify-content-end">
            <div class="col-12 col-md-8">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-ticket.png" alt=""/>
                        <figcaption>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-6">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-bag.png" alt=""/>
                        <figcaption>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 offset-md-2 col-md-4 mt-25vw">
                <a class="gallery" href="/img/projects/umelka-grafika/umelka-notepad.png">
                    <figure>
                        <img class="img-fluid" src="/img/projects/umelka-grafika/umelka-notepad.png" alt=""/>
                        <figcaption>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</figcaption>
                    </figure>
                </a>
            </div>
        </div>

    </div>
</ProjectLayout>