<footer id="contact">
    <!--  <div class="watermark">e<span class="italic">m</span></div>-->
    <div class="container container-xl">
        <div>
            <h3>eva.<span class="italic">m</span>atisakova</h3>
            <p>Lipsum</p>
        </div>
        <div class="row">
            <div class="col">
                <img src="/img/em-light.svg" alt="" style="height:1.5rem">
                    <br/>
                    portfolio
            </div>
            <div class="col">
                <a href="https://www.instagram.com/evankaaaa/" target="_blank" rel="noopener noreferrer">
                    instagram
                    <img class="arrow arrow-right" src="/img/arrow-dark.svg" alt="arrow-right"/>
                </a>
                <br/>
                <a href="https://www.instagram.com/evankaaaa/" target="_blank" rel="noopener noreferrer">
                    linkedin
                    <img class="arrow arrow-right" src="/img/arrow-dark.svg" alt="arrow-right"/>
                </a>
            </div>
            <div class="col col-auto">
                <a href="mailto:eva.matisakova@gmail.com">
                    eva.matisakova@gmail.com
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                &copy; sice 2023 All Rights Reserved
            </div>
            <div class="col text-right">
                <a href="#home">
                    Back to top
                    <img class="arrow arrow-up" src="/img/arrow-dark.svg" alt="arrow-up"/>
                </a>
            </div>
        </div>
    </div>


</footer>