<footer id="contact">
    <!--  <div class="watermark">e<span class="italic">m</span></div>-->
    <div class="container container-xl">
        <div>
            <h3>eva.<span class="italic">m</span>atisakova</h3>
            <p>Lipsum</p>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <img src="/img/em-light.svg" alt="" style="height:1.5rem">
                    <br/>
                    portfolio
            </div>
            <div class="col-6 col-md-3">
                <a href="https://www.instagram.com/evankaaaa/" target="_blank" rel="noopener noreferrer">
                    instagram
                    <img class="arrow arrow-right" src="/img/arrow-dark.svg" alt="arrow-right"/>
                </a>
                <br/>
                <a href="https://www.instagram.com/evankaaaa/" target="_blank" rel="noopener noreferrer">
                    linkedin
                    <img class="arrow arrow-right" src="/img/arrow-dark.svg" alt="arrow-right"/>
                </a>
            </div>
            <div class="col-12 col-md-auto mt-5 mt-md-0 text-center text-md-left">
                <a href="mailto:eva.matisakova@gmail.com">
                    eva.matisakova@gmail.com
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 text-right order-md-2">
                <a href="#home">
                    Back to top
                    <img class="arrow arrow-up" src="/img/arrow-dark.svg" alt="arrow-up"/>
                </a>
            </div>

            <div class="col-12 col-md-6 text-center text-md-left order-md-1  mt-5 mt-md-0">
                <small>
                    &copy; sice 2023 All Rights Reserved
                </small>
            </div>
        </div>
    </div>


</footer>