header {
  position: relative;
  max-height: 100vh;
  overflow-y: hidden;

  .heading {
    position: absolute;
    width: 100%;
    left: 2rem;
    bottom: 0;
  }

  font-family: "Gatwick Regular", sans-serif;
  font-style: normal;
  font-weight: normal;


  &.homepage {

  }

  img.main {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    margin: 0;

  }

  &.home{
    & > div{
      position:relative;
      width: 100%;
    }

    a {
      margin: auto;
      margin-top: 20vw;
      @media (min-width: $breakpoint-tablet) {
        position: absolute;
        left: 20vw;
      }

      bottom: -1.8rem;
      @media (min-width: $breakpoint-tablet) {
        bottom: -9vw;
      }

      .arrow {
        height: 4rem;

        @media (min-width: $breakpoint-tablet) {
          margin-bottom: 0
        }
        @media (min-width: $breakpoint-tablet) {
          height: 10vw;
        }
      }

    }
  }

  &.project {
    a {
      position: absolute;
      height: 12vw;
      width: 12vw;
      bottom: 2vw;
      left: 15vw;
      @media (min-width: $breakpoint-tablet) {
        left: 20vw;
      }

    }
  }



  //
  //h2 {
  //  font-size: 3vw;
  //  margin-top: auto;
  //  margin-bottom: 0;
  //}


}
