a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

h1 {
  line-height: 100%;

  font-family: "Gatwick", serif;
  font-weight: normal;
  font-size: 10vw;

  small{
    font-size: 2.5vw;
    font-weight:100;
  }

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 0;
  }
}

h2 {
  line-height: 100%;

  font-family: "NewYork", serif;
  font-weight: normal;
  font-size: 16vw;

  @media (min-width: $breakpoint-tablet) {
    margin-top: -2rem auto 0 auto;
    font-size: 9vw;
  }
}


h3 {
  line-height: 100%;

  font-family: "Gatwick", serif;
  font-weight: 100;
  font-size: 12vw;

  @media (min-width: $breakpoint-tablet) {
    text-align: left;
    margin-left: 1rem;
    margin: 0 auto 0 0;
    font-size: 9vw;
  }
}

p {
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-tablet) {
    text-align: justify;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
}

figure {
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 5rem;
  }

  figcaption{
    //font-size:1rem;
    margin-top: 5px;
    line-height: 1.5rem;

    small{
      color: lighten(#000000, 60);

    }
  }


}


small {
  font-size: 1rem;
  line-height: 0.5;
  line-height-step: unset;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }
}