a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

h1 {
  margin-bottom: 2rem;
  text-align: center;

  line-height: 100%;

  font-family: "Gatwick", serif;
  font-weight: normal;
  font-size: 8vw;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 10.5vw;
  }
}

h2 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 2rem;


  font-family: "NewYork", serif;
  font-weight: normal;
  font-size: 10vw;

  @media (min-width: $breakpoint-tablet) {
    margin-top: -2rem auto 0 auto;
    font-size: 10.5vw;
  }
}


h3 {
  text-align: left;
  margin-left: 1rem;
  line-height: 100%;

  font-family: "Gatwick", serif;
  font-weight: 100;
  font-size: 6vw;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto 0 0;
    font-size: 10.5vw;
  }
}

p {
  margin-bottom: 1rem;
  text-align: justify ;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
}

figure {
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 5rem;
  }

  figcaption{
    //font-size:1rem;

    line-height: 1.5rem;

    small{
      color: lighten(#000000, 60)
    }
  }


}


small {
  font-size: 1rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }
}